<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
      <resource uri="assembly://IntelligentShoppingListService/WindowsService.Config/Spring_Configuration.xml" />
    </context>
  </spring>
  <connectionStrings>
    <add name="Intelligent_Shopping_List" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Polling RSS feed interval in minutes-->
    <add key="PollInterval" value="60"/>
    <!--RSS feed web url. Add multiple url by separating with | -->
    <add key="PromotionRSSSites" value="http://www.shoppingnsales.com/feed/" />
  </appSettings>
</configuration>