@using DomainObject
@model IEnumerable<DomainObject.Item>

@{
    ViewBag.Title = "ListShoppingListItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListShoppingListItem</h2>
<h1>All Active Shopping List Item</h1>

<table>
    <thead>
    <tr>
        <td>Item </td>
        <td>Tag</td>
    </tr>
    </thead>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.ItemName</td>
            <td>@i.Tag</td>
        </tr>
    }

</table>

@Html.ActionLink("Add New Item", "CreateItem")